*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#slider{
    position: relative;
    height: 40vh;
    margin: 50px auto 10px  auto;
    background: #efefef center/cover;
    box-shadow: 0 0 5px black;
    color: #fff;
   
}
#nav{
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
 #nav > button{
    width: 15px;
    height: 15px;
    background-color: #c7c7c7;
    padding: 5px;
    margin: 10px;
    border: none;
    border-radius: 50%;
    outline:none;
}
#cap{
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
}
#slider h1{
   font:  2em Arial;
   
}
#slider p {
    
    background:  rgba(255,255,255,0.3);
    font: 1.5em Arial;
    padding: 10px;
    
}
#slider p a{
    text-decoration: none;
    color: #fff;

}
.active {
   border: 1px solid red;
    
}
@media only screen and (min-width: 600px) {
    #slider{ max-width: 800px; height: 80vh;}
    }